@import "../node_modules/nprogress/nprogress.css";

// LiveView specific classes for your customizations
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.live-modal {
  opacity: 1 !important;
  display: block !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

// Alerts and form errors
.alert:empty {
  display: none;
}

// bootstrap theming options
$body-bg: #fdfdfd;
$body-color: #111;
$enable-rounded: false;
$theme-colors: (
  "primary": #01c5c4,
  "secondary": #625261,
);

@import "node_modules/bootstrap/scss/bootstrap";

@import "../../lib/**/*.scss";
