<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Hygeia" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="layout-root">
    <%= if is_logged_in?(@conn) do %>
      <header class="layout-header py-3 bg-dark mb-5">
        <section class="container">
          <div class="d-flex justify-content-between">
            <ul class="nav nav-pills" role="navigation">
              <%= if User.has_role?(get_auth(@conn), :admin) do %>
                <li class="nav-item">
                  <div class="dropdown" phx-update="ignore">
                    <a class="nav-link <%= if active_path?(@conn, to: Routes.person_index_path(@conn, :index)) do "active" end %>" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= gettext("People") %>
                    </a>
                    <div class="nav-dropdown dropdown-menu">
                      <%= active_link(@conn, gettext("List"),
                        to: Routes.person_index_path(@conn, :index),
                        class_active: "nav-link active", class_inactive: "nav-link", active: :exact )
                      %>
                      <%= active_link(@conn, gettext("New"),
                        to: Routes.person_create_path(@conn, :create),
                        class_active: "nav-link active", class_inactive: "nav-link", active: :exact )
                      %>
                    </div>
                  </div>
                </li>
              <% end %>
              <%= if User.has_role?(get_auth(@conn), :tracer) or User.has_role?(get_auth(@conn), :supervisor) do %>
                <li class="nav-item">
                  <div class="dropdown" phx-update="ignore">
                    <a class="nav-link <%= if active_path?(@conn, to: Routes.case_index_path(@conn, :index)) do "active" end %>" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= gettext("Cases") %>
                    </a>
                    <div class="nav-dropdown dropdown-menu">
                      <%= active_link(@conn, gettext("List"),
                        to: Routes.case_index_path(@conn, :index),
                        class_active: "nav-link active", class_inactive: "nav-link", active: :exact )
                      %>
                      <%= active_link(@conn, gettext("New Index"),
                        to: Routes.case_create_index_path(@conn, :create),
                        class_active: "nav-link active", class_inactive: "nav-link", active: :exact )
                      %>
                      <%= active_link(@conn, gettext("New Possible Index"),
                        to: Routes.case_create_possible_index_path(@conn, :create),
                        class_active: "nav-link active", class_inactive: "nav-link", active: :exact )
                      %>
                    </div>
                  </div>
                </li>
              <% end %>
              <%= if User.has_role?(get_auth(@conn), :statistics_viewer) do %>
                <li class="nav-item">
                  <%= active_link(@conn, gettext("Statistics"),
                    to: Routes.statistics_index_path(@conn, :index),
                    class_active: "nav-link active", class_inactive: "nav-link")
                  %>
                </li>
              <% end %>
              <%= if User.has_role?(get_auth(@conn), :webmaster) do %>
                <li class="nav-item">
                  <%= active_link(@conn, gettext("Phoenix Dashboard"),
                    to: Routes.live_dashboard_path(@conn, :home),
                    class_active: "nav-link active", class_inactive: "nav-link")
                  %>
                </li>
              <% end %>
            </ul>
            <div class="nav nav-pills">
              <li class="nav-item mr-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                    </span>
                  </div>
                  <%# TODO: search action %>
                  <input type="search" class="form-control" placeholder="<%= gettext("Search") %>" />
                </div>
              </li>
              <li class="nav-item">
                <div class="dropdown" phx-update="ignore">
                  <a class="nav-link <%= if active_path?(@conn, to: Routes.user_show_path(@conn, :show, 1)) do "active" end %>" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-person" title="<%= gettext("Profile") %>" aria-hidden="true"></span>
                  </a>
                  <div class="nav-dropdown dropdown-menu dropdown-menu-right">
                    <%= active_link(@conn, gettext("Profile"), to: Routes.user_show_path(@conn, :show, get_auth(@conn).uuid), class_active: "nav-link active", class_inactive: "nav-link") %>
                    <%# TODO: logout action %>
                    <%= "Logout" |> gettext() |> link(to: Routes.auth_path(@conn, :delete), method: :delete, class: "nav-link") %>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </section>
      </header>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
