<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Using Bootstrap v3 because wkhtmltopdf currently does not support flexbox -->
    <style>
      <%=
        :hygeia_pdf_confirmation
        |> Application.app_dir("priv/assets/bootstrap.min.css")
        |> File.read!()
        |> raw()
      %>
    </style>
    <style>
      <%=
        :hygeia_pdf_confirmation
        |> Application.app_dir("priv/assets/style.css")
        |> File.read!()
        |> raw()
      %>
    </style>
  </head>
  <body onload="subst()">
    <%= @inner_content %>
  </body>
</html>
