<%# TODO: Dynamic #%>
<div>
  <img class="pull-right" src="https://www.sg.ch/apps/core/docroot/images/design/sgch/logo-sg-wappen.png" />
  <p>
    Kanton St.Gallen<br />
    Gesundheitsdepartement
  </p>
  <p>
    <strong>Kantonsarztamt</strong>
  </p>
</div>
<div class="clearfix"></div>