<div>
  <img style="width: 1.5cm" class="pull-right" src="https://www.sg.ch/apps/core/docroot/images/design/sgch/logo-sg-wappen.png" />
  <p class="page-1-header">
    Kanton St.Gallen<br />
    Gesundheitsdepartement
  </p>
  <p class="page-1-header" style="margin-top: 5mm;">
    <strong>Kantonsarztamt</strong>
  </p>
</div>
<div class="clearfix"></div>
<script>
  <%=
    :hygeia_pdf_confirmation
    |> Application.app_dir("priv/assets/page.js")
    |> File.read!()
    |> raw()
  %>
</script>
