on:
  schedule:
    # Every Sunday
    - cron: '0 0 * * 0'
  workflow_dispatch: {}

name: "Weekly"

jobs:
  updateLicenseChangeDate:
    name: "Update LICENSE change date"

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v2
      - run: 'sed -i "s/\(Change Date: *\)[0-9]\{4\}-[0-9]\{2\}-[0-9]\{2\}/\1$(date --date="3 years" +%Y-%m-%d)/g" LICENSE'
      - uses: peter-evans/create-pull-request@v3
        with:
          add-paths: 'LICENSE'
          commit-message: 'Update LICENSE Change Date'
          title: 'Update LICENSE Change Date'
          branch: 'license_update'
          delete-branch: true
          labels: 'license'
